business-archetype/*.idea/*
business-archetype/*.iml
business-archetype/target/*

data-access-archetype/*.idea/*
data-access-archetype/*.iml
data-access-archetype/target/*

reactive-archetype/*.idea/*
reactive-archetype/*.iml
reactive-archetype/target/*

*.iml
*.idea/*
